<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment add page</title>
</head>
<body>
<br>
<a href="/">Back</a>
<br>
<h2>Create Appointment</h2>
<br>
<form action="/appointments/add" method="post"><br>
    <input type="datetime-local" name="dateTime">
    <br>
    patient<select name="patientId">
        <option th:each="patient: ${patients}"
                th:text="${patient.getName()}" th:value="${patient.id}">patient:
        </option>
    </select>
    <br>
    Doctor<select name="doctorId">
        <option th:each="doctor: ${doctors}"
                th:text="${doctor.name}" th:value="${doctor.id}">:
        </option>
    </select>
    <br>
    <input type="submit" value="Create">
</form>

</body>
</html>