<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor add page</title>
</head>
<body>
<br><a href="/">Back</a><br>
<h2>Create Doctor</h2>
<br>
<form action="/doctors/add" method="post" enctype="multipart/form-data">
    <input type="text" name="name">Name:<br>
    <input type="text" name="surname">Surname:<br>
    <input type="text" name="email">Email:<br>
    <input type="text" name="specialty">specialty:<br>
    <input type="text" name="phone_number">Phone_number:<br>
    <br>
    <input type="file" name="image"><br>
    <input type="submit" value="create">


</body>
</html>